<!DOCTYPE html>
<html>
  <head>
    <title>Clasificación de Números</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container text-center">
      <!-- Contenedor centrado -->
      <h1>Clasificación de Números</h1>
      <p>Cargue una imagen de un número para clasificar:</p>
      <form method="POST" action="/clasificar" enctype="multipart/form-data">
        <div class="form-group">
          <input
            type="file"
            class="form-control-file"
            name="imagen"
            accept="image/*"
          />
        </div>
        <button type="submit" class="btn btn-primary">Clasificar</button>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
